* {
    box-sizing: border-box;
}

html {
    background: #FFFFFF;
}

.container {
    max-width: 1368px;
    margin: 0 auto;

}

.show {
    display: block;
}

.hide {
    display: none;
}

@import "fonts";
@import "header";
@import "benefits";
@import "steps";
@import "partner";
@import "media";
